*
!kafka_producer/
!kafka_producer/**

.git/
.venv/
.idea/
**/.vscode/
**/.devcontainer/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.env.*
*.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
.DS_Store
