# Kafka
KAFKA_CLUSTER_ID=...
KAFKA_INIT_TOPICS=topic:partition_count,topic:partition_count
KAFKA_GROUP_ID=...
CLICKSTREAM_TOPIC=...
METRICS_TOPIC=...

# Flink
FLINK_TASK_SLOTS=...

# Dockerhub tag version
IMAGE_TAG=...
